In [16]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
outside = 'G1 G1 G1 G2 G2 G2'.split()
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [3]:
inside = [1, 2, 3, 1, 2, 3]

In [8]:
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [18]:
df = pd.DataFrame(randn(6,2), hier_index,['A', 'B'])
df

             A         B
G1 1 -0.986972  0.203950
   2 -1.207287  1.039843
   3 -0.913297  0.292072
G2 1 -0.292645 -0.072380
   2  2.070132 -0.818466
   3  0.409766 -0.112847

In [22]:
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1   -0.986972  0.203950
       2   -1.207287  1.039843
       3   -0.913297  0.292072
G2     1   -0.292645 -0.072380
       2    2.070132 -0.818466
       3    0.409766 -0.112847

In [27]:
df.loc['G1'].loc[3]['A']

-0.91329672811414331

In [30]:
df.xs(1, level='Num')

               A        B
Groups
G1     -0.986972  0.20395
G2     -0.292645 -0.07238